:root {
  --main-font: Roboto, sans-serif;
  --main-font-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196f3;
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*==========components=========*/
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.contacts {
  font-style: normal;
}

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
  margin-right: 93px;
}

.logo-color {
  color: var(--accent-color);
}

.sections-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links-item {
  width: 20px;
  height: 20px;
}

.social-links-list:not(:last-child) {
  margin-right: 10px;
}

.social-links:hover,
.social-links:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
}

/*==========End components=========*/

/*========active page==============*/
.current {
  position: relative;
}

.current::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*======End active page============*/

/*==========header=========*/
.header-block {
  background-color: #ffffff;
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.header-block .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  align-items: center;
}

/*============INDEX==========*/
.header-links a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font-color);
}

.header-links {
  display: flex;
  align-items: center;
}

.header-list-item:not(:last-child) {
  margin-right: 30px;
}

.header-list {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-list:hover,
.header-list:focus {
  color: var(--accent-color);
}

.header-links-item:not(:last-child) {
  margin-right: 50px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-links.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.contact-links:hover,
.contact-links:focus {
  color: var(--accent-color);
}

.contact-links {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-icons {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: var(--secondary-color);
}

.contact-links:hover .header-mail-icons,
.contact-links:focus .header-mail-icons {
  fill: var(--accent-color);
}

.header-tel-icons {
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: var(--secondary-color);
}

.contact-links:hover .header-tel-icons,
.contact-links:focus .header-tel-icons {
  fill: var(--accent-color);
}

/*========== End header=========*/

/*============hero=========*/
.main-section {
  display: flex;
  height: 600px;
  color: var(--secondary-color);
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0 auto 30;
}

.hero-container {
  text-align: center;
}

.button-hero {
  display: inline-block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  margin-top: 30px;
}
/*============End hero=========*/

/*============features=========*/
.features-section {
  padding-top: 94px;
  padding-bottom: 47px;
}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icons {
  width: 70px;
  height: 70px;
}

.features-item {
  width: 270px;
  margin-right: 30px;
}

.features-list-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-font-color);
  margin-bottom: 10px;
}

.features-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*============End features=========*/

/*============working=========*/
.working-section {
  padding-top: 47px;
  padding-bottom: 94px;
}

.working-links {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}

.working-list {
  margin-top: 50px;
  position: relative;
}

.working-list-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/*============End working=========*/

/*============team=========*/
.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-main-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  text-align: center;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.light-theme {
  margin-top: 16px;
  margin-bottom: 30px;
}

.team-list-item {
  margin-top: 50px;
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  fill: #afb1b8;
}

.social-links-item .light-theme {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

/*============End team=========*/

/*============Clients==========*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.clients-list {
  display: flex;
  margin-top: 50px;
}

.clients-list-item {
  width: 170px;
  height: 90px;
}

.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link-item {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.cl-logo-1 {
  width: 44px;
  height: 49px;
}

.cl-logo-2 {
  width: 40px;
  height: 52px;
}

.cl-logo-3 {
  width: 41px;
  height: 43px;
}

.cl-logo-4 {
  width: 80px;
  height: 52px;
}

.cl-logo-5 {
  width: 59px;
  height: 47px;
}

.cl-logo-6 {
  width: 88px;
  height: 45px;
}

/*=========End Clients========*/

/*============footer==========*/
.footers {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footers .container {
  display: flex;
  align-items: baseline;
}

.footers .logo {
  color: #ffffff;
}

.contacts {
  font-style: normal;
  margin-top: 20px;
}

.contacts-address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-item:not(:last-child) {
  margin-bottom: 9px;
}

.contacts-address:hover,
.contacts-address:focus {
  color: var(--accent-color);
}

.contacts-contact {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-contact:hover,
.contacts-contact:focus {
  color: var(--accent-color);
}

.social-item {
  margin-left: 70px;
}

.social-item-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.dark-theme {
  margin-top: 30px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.d-theme {
  fill: #ffffff;
}

.subscribe-theme {
  margin-left: 93px;
}

.subscribe-form {
  display: flex;
  align-items: stretch;
}

.form-footer-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-form-div {
  display: flex;
  align-items: center;
}

.subscribe-input {
  display: flex;
  width: 358px;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #2f303a;
  margin-top: 20px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input:focus {
  border-color: var(--accent-color);
}

.subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;

  display: flex;
  align-items: center;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.subscribe-btn {
  display: flex;
  align-items: center;
  outline: none;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;
  margin-top: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  padding-right: 28px;
  border-color: var(--accent-color);
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 10px;
}

/*============End footer==========*/

/*============End INDEX==========*/

/*============PORTFOLIO==========*/

/*============projects==========*/

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-sup-buttons {
  margin-bottom: 50px;
}

.portfolio-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.projects-button {
  justify-content: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  border-radius: 4px;
  margin-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  cursor: pointer;
  background-color: F5F4FA;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-button:hover,
.projects-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.sample-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.portfolio-links-cards {
  margin: 15px;
  flex-basis: calc(100% / 3 - 30px);
}

.project-title {
  height: 36px;
  width: 322px;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-font-color);
  margin-bottom: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-title:hover,
.project-title:focus {
  color: var(--accent-color);
}

.portfolio-borders {
  border: 1px solid #eeeeee;
  border-top: none;
  background-color: #fff;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 20px;
}

.project-link {
  height: 30px;
  width: 322px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links-cards {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-links-cards:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover,
.project-link:focus {
  color: var(--accent-color);
}

.portfolio-links-cards-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  overflow: scroll;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: normal;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-top: 63px;
  padding-left: 24px;
  padding-bottom: 63px;
  padding-right: 24px;
  background: rgba(33, 150, 243, 0.9);
}

.portfolio-links-list-wrapper:hover .overlay,
.portfolio-links-list-wrapper:focus .overlay {
  transform: translateY(0);
}
/*============End projects==========*/

/*============== modal =============*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-btn-svg {
  fill: #000000;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:hover > .modal-btn-svg,
.modal-close-button:focus > .modal-btn-svg {
  fill: var(--accent-color);
  border-color: rgba(0, 0, 0, 0.1);
}

.modal-dates {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-font-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}

.modal-form-input-span {
  display: block;
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:focus + .modal-icon-svg {
  fill: var(--accent-color);
}

.modal-icon-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: var(--main-font-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 10px;
  resize: none;
  margin-bottom: 20px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-comment:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-label {
  font-weight: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 30px;
}

.modal-form-check-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-font-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-image 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-terms:checked + .modal-form-check-label::before {
  background-image: url("../images/modal/vector.svg");
  background-size: contain;
  fill: #ffffff;
  background-color: var(--accent-color);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  border: transparent;
}

.modal-form-terms:focus + .modal-form-check-label::before {
  border-color: var(--accent-color);
}

.modal-form-check-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  padding-top: 10px;
  padding-bottom: 10px;

  align-self: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

/*============End modal ============*/ ;
