.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .footers & {
    display: flex;
    align-items: baseline;
  }

  .header-block & {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
